.message-my, .message-contact {
    display: block;
    margin: 10px 0;
    font-size: 21px;
}

.message-my span.badge, .message-contact span.badge {
    padding: 15px;
    display: inline-block;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
    max-width: 75%;
    width: auto;
}

.message-my span.time, .message-contact span.time {
    font-size: 9px;
    margin: 0 5px;
}

.message-my {
    text-align: right;
}

.message-my span.badge {
    text-align: right;
}
.message-contact span.badge {
    text-align: left;
}


.is-read {
    color: #555;
    font-size: 11px;
}